article .galeria{
    width:100%;padding:5px;height:100%;border:1px solid #eee;
}
article .direita{
    max-width: 350px;
    height: auto;
    margin-left: 15px;    
    float: right;
    
}
article .esquerda{
    max-width: 350px;
    height:auto;
    margin-right: 15px; 
    float:left;
}

article .centro{
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}



.fa, .far, .fas {
    font-family: "Font Awesome 5 Free"!important;
}

.fa, .fas {
    font-weight: 500;
}
.contato {
    float: right;
    position: relative;
    z-index: 10;
    width: 100%;
    margin-top: -106px;
}

.especialidade {
    width: 100px;
    height:  100px;
    padding: 10px;
}

@media only screen and (max-width:768px) {
    .especialidade {
        width: 70px;
         height:  70px;
        padding: 10px;
    }
    .contato {
        float: none;
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 30px;
    }
}

.contato .fone {
    background: #003E64;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.contato .fone .titulo {
    font-size: 1.8em;
    color: #fff;
    text-transform: uppercase;
}


.contato .formulario {
    background: #E7E7E7;
    padding: 35px;
    border-radius: 0 0 5px 5px;
}

.btn-mpi {
    border: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    background: inherit;
    padding: 11px;
    background: #FF6602;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #BB4A00;
}

.formulario-mpi input[type=text],
.formulario-mpi select,
.formulario-mpi input[type=tel],
.formulario-mpi input[type=date],
.formulario-mpi input[type=password],
.formulario-mpi input[type=email],
.formulario-mpi input[type=password],
.formulario-mpi select,
.formulario-mpi textarea {
    width: 100%;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 4px;
}

.banner-titulo {
    background: url(../images/background-mpi.jpg) no-repeat center center;
    background-size: cover;
    height: 45vh;
}

@media only screen and (max-width:768px) {
    .banner-titulo {
    background: url(../images/background-mpi.jpg) no-repeat center center;
    background-size: cover;
    }
}

.passo img {
    width: 100px;
    height:100px;
    padding: 10px;
}

.passo h3 {
    font-size: 1.5em
}


@media only screen and (max-width:768px) {
    .passo img {
        width: 80px;
        height: 80px;
        padding: 10px;
    }
    .passo h3 {
        font-size: 1.1em
    }
    .esp h3 {
        font-size: 1.5em
    }
    .contato .fone .titulo {
        font-size: 1.4em;
    }
    .contato .formulario {
        padding: 20px;
    }
}


.banner-h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

.breadcrumb {
    background: none;
    padding: 0px;
    margin: 0px;
    justify-content: start;
    font-size: 16px;
}

.breadcrumb a {
    color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #68A1F0;
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

.breadcrumb-item.active {
    color: rgba(0, 0, 0, .7);
}

.menu-lateral nav ul li a {
    height: auto;
    padding: 4px 10px;
    border-left: 4px solid #e3e3e3;
    margin: 0 0 5px 0;
    transition: .3s ease-in-out;
    color: #333!important;
    width: 100%;
    white-space: normal!important;
}

.menu-lateral nav ul li a:hover {
    border-left: 4px solid #3579a7;
    color: #333;
    background-color: #3579a754;
}

.menu-lateral nav {
    list-style: none;
    max-height: 100vh;
    overflow: auto;
    border: 1px solid #eee;
}

article p {
    text-align: justify;
}

@media only screen and (max-width:768px) {
article p {
        text-align: left
    }

    .menu-lateral nav {    
    max-height: 40vh;    
    border: 1px solid #eee;
    }
}


.gallery img {
    width: 100%;
    padding: 5px;
    height: 100%;
    border: 1px solid #ddd;
}

.related-posting {
    position: relative;
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    border: 1px solid transparent;
}

.related-posting:hover {
    box-shadow: 2px 2px 2px #eee;
    border: 1px solid #e3e3e3;
}

.related-posting img {
    height: 100%;
    width: 100%;
}

.related-posting .card-body {
    padding: 1.25rem 0;
}

.related-posting h2 {
    font-size: 1.5rem;
    color: #587EBA;
    text-transform: uppercase !important;
}

a {
    text-decoration: none !important;
}

nav > .nav.nav-tabs {

    border: 0px;
    background: transparent;
    border-radius: 0;


}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color: #333;
    background: #eee;
    border-radius: 0;
    font-size: .9em;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

nav > div a.nav-item.nav-link.active {
    background: #587EBA;
    color: #fff;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}


.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 3px solid #587EBA;
    border-bottom: 2px solid #587EBA;
    padding: 5px 20px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    background: #587EBA;
    color: #fff;
    border-radius: 0;
    transition: background 0.20s linear;
}

.tab-pane ul {
    display: block;
    padding: 0px;
}

.tab-pane ul li {
    width: 24% !important;
    font-size: 0.85em;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

@media only screen and (max-width:768px) {
    .tab-pane ul li {
        width: 49% !important;
        font-size: 0.7em;
        padding: 0px;
    }
}
.owl-stage-outer{
    overflow: hidden;
}
.owl-stage{
    display: flex;
}
.owl-nav{
    display: none;
}
.owl-dots{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #587EBA;
    opacity: 0.5;
    margin: 5px;
}
.owl-dot.active{
    opacity: 1;
}
