.scrolltop {
  border-radius: 100%;
  padding-top: 14px;
  position: absolute;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  z-index: 1;
  margin-top: -53px;
}

.redes {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.redes li {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 100%;
  margin: 0px 5px;
  color: #333;
  font-size: 22px;
}

.redes li a {
  color: #333 !important;
  height: 35px;
}

.redes i.far,
.redes i.fas {
  color: #333 !important;
}

.esp p {    min-height: 54px;}

.banner-brad {
  background: url(../images/s4.jpg) no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width:768px) {

  .banner-brad {
    background: url(../images/s4-m.jpg) no-repeat center center;
    background-size: cover;
  }

}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.breadcrumb {
  background: none;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  font-size: 14px;
}

.breadcrumb a {
  color: #fff;
}

.breadcrumb-item.active {
  color: rgba(255, 255, 255, .7)
}

/*================= Carousel =================*/

#carousel,
#carousel .carousel-inner,
#carousel .carousel-inner .carousel-item {
  height: 65vh;
}

#carousel h2 {
  font-size: 30px;
  color: #587EBA;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#carousel p {
  line-height: 28px;
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 400;
}

.carousel-inner .carousel-item {
  background-size: cover
}

.carousel-item {
  /* z-index:-1 */
}

.carousel-inner .one {
  background: url(../images/s1.jpg) no-repeat center center;
  background-size: cover
}

.carousel-inner .two {
  background: url(../images/s2.jpg) no-repeat center center;
  background-size: cover
}

.carousel-inner .three {
  background: url(../images/s3.jpg) no-repeat center center;
  background-size: cover
}

.video-section.section-default {
  background: url(../images/s4.jpg) no-repeat center center fixed;
  background-size: cover;
}


.video-section.section-default .vcont {
  background: rgba(0, 0, 0, .5);
  padding: 60px 0;
}



.azul:before {
  content: "";
  width: 360px;
  height: 80%;
  background: rgba(88, 126, 186, 0.85);
  position: absolute;
  left: 26%;
  top: 10%;
}

.slider_text {
  background: rgba(255, 255, 255, .95);
  padding: 60px;
  position: relative;
}


@media only screen and (max-width:768px) {
  .carousel-inner .one {
    background: url(../images/s1-m.jpg) no-repeat center center;
    background-size: cover
  }
  .carousel-inner .two {
    background: url(../images/s2-m.jpg) no-repeat center center;
    background-size: cover
  }
  .carousel-inner .three {
    background: url(../images/s3-m.jpg) no-repeat center center;
    background-size: cover
  }
  .video-section.section-default {
    background: url(../images/s4-m.jpg) no-repeat center center;
    background-size: cover
  }

  .azul:before {
    display: none;
  }

  .slider_text {
    padding: 30px;
    background: rgba(255, 255, 255, .8)
  }

  #carousel h2 {
    font-size: 25px;
  }

  #carousel p {
    font-size: 18px;
  }
}

/*================= Botão =================*/

.theme-btn {
  padding: 12px 50px !important;
  background: linear-gradient(to top, #CF482E, #E95D3E);
  color: #fff !important;
  border-radius: 3px;
  font-size: 1.2em;
  font-weight: 500;
  position: relative;
  transition: .3s ease-in-out all;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.theme-btn:hover {
  background: linear-gradient(to top, #587eba, #8eb1e8);
}

@media only screen and (max-width:768px) {
  .theme-btn {
    padding: 8px 30px !important;
  }
}

/*================= Img Info =================*/

.display-4 img {
  width: 65px;
}


/*================= Footer =================*/

.logo-footer {
  max-width: 160px;
  width: 100%;

}

.footer-nav ul.pages {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.footer-nav ul.pages li a {
  color: rgba(255, 255, 255, .8);
}

.border-footer {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.site-footer {
  padding: 4em 0;
  background: #333333;
}

.site-footer p {
  color: #737373;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #fff;
}

.site-footer a {
  color: #999999;
}

.site-footer a:hover {
  color: white;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer .footer-heading {
  font-size: 20px;
  color: #fff;
}

@media only screen and (max-width:768px) {
  .footer-nav ul.pages {
    flex-flow: column;
    text-align: center;
  }

  .footer-nav ul.pages li {
    padding: .5rem .75rem;
    background: rgba(255, 255, 255, .1);
  }
}

/*================= Outros =================*/

body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.text-black {
  color: #000 !important;
}

.btn {
  border-width: 2px;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative;
}

.site-section-heading:before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #98ccd3;
}

.media.custom-media .icon:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #587eba59;
  left: 10px;
  top: 4px;
  z-index: -1;
}

.site-section-heading.text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #98ccd3;
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}


/*================= Menu =================*/

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.site-navbar-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
}

.icon-menu {
  font-size: 30px !important;
  color: #333
}

.site-navbar-wrap a {
  color: #fff;
}

.site-navbar-wrap .site-navbar-top {
  font-size: 0.8rem;
}

.site-navbar-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-navbar {
  margin-bottom: 0px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.site-navbar .site-logo {
  width: 180px;
  padding: 5px;
}


.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active > a {
  color: #fff;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  font-size: 15px;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
  padding: 10px 5px;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 15px;
  text-decoration: none !important;
  font-weight: bold;
  text-transform: uppercase;
}


.site-navbar .site-navigation .site-menu > li:last-child {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu > li:last-child > a {
  padding-right: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #587EBA !important;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:after {
  position: relative;
  content: "\f107";
  font-size: 16px;
  /* padding-top: 5px; */
  left: 5px;
  top: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Font Awesome 5 Free';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: -50vw;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  width: 60vw;
  max-height: 75vh;
  height: auto;
  overflow-y: auto;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top li {
  width: 49.7%;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 90%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #587eba;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
  font-weight: bold;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #fff !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 6px 10px;
  display: block;
  text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 5px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding-top: 0px !important;
  padding: 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  display: block;
  position: relative;
  color: #212529;
  font-weight: bold;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #98ccd3;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
  color: #587EBA;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 3px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(0, 0, 0, .1) !important;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 20px;
  z-index: 20;
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-weight: 900;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding: 9px;
  /* padding-left: 20px; */
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding: 5px;
  padding-left: 9px;
  font-size: 15px;
  text-transform: uppercase;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.bg-black {
  background: #000 !important;
}

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}




/* Blocks */

.site-heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .site-heading {
    font-size: 3rem;
  }
}


.block-13 {
  position: relative;
  z-index: 1;
}

.block-13 .owl-nav {
  position: relative;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
  font-size: 25px;
  color: #000;
}

.block-13 .owl-nav .owl-prev.disabled {
  opacity: .2;
}

.block-13.nav-direction-white .owl-prev {
  background: #fff;
  padding: 5px 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.block-13.nav-direction-white .owl-prev:hover {
  -webkit-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
}

.block-13 .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.block-13 .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  .block-13 .owl-nav {
    display: none;
  }
}

.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.block-13 .owl-nav .owl-prev {
  left: -20px;
}

.block-13 .owl-nav .owl-next {
  right: -20px;
}

.block-13 .owl-dots {
  text-align: center;
}

.block-13 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.block-13 .owl-dots .owl-dot > span {
  line-height: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  float: left;
  background: #cccccc;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.block-13 .owl-dots .owl-dot.active > span {
  background: #98ccd3;
}


.post-entry {
  overflow: hidden;
  position: relative;
  display: block;
}

.post-entry .figure {
  overflow: hidden;
  margin-bottom: 20px;
}

.post-entry h3 {
  font-size: 15px;
  line-height: 1.2;
}

.post-entry h3 a {
  color: #000;
}

.post-entry img {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.post-entry:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
